#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
    width: 60%;
    border: none;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    width: 150%;
  }
  
  .location-search-input {
    border: none;
  }
  #pac-input:focus {
    border-color: #4d90fe;
  }

  .pac-input {
    border: 1px;
    border-color: #4d90fe;
  }

  .orgListItem {
    margin-bottom: -1.8vh;
    padding-bottom: 0px;
  }