.titleRow {
    
    justify-items: center;
}

.titleColumn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionRow {
    border-top: 1px solid rgb(197, 195, 195);
}

.description {
    color: darkgray;
}

.titleText {
    justify-self: center;
    font-weight: bolder;
}

.timesRow {
    border-top: 1px solid rgb(197, 195, 195);
}

.attendanceRow {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid rgb(197, 195, 195);
}

.attendingButtons {
    display: grid;
    justify-content:flex-start;
    margin-left: -0.5%;
    gap: 0px;
    grid-auto-flow: column;
    
}

.selectedYes {
    --background: green;
    width: 54px;
    height: 25px;
}

.yesButton {
    
}

.selectedNo {
    --background: red;
    width: 54px;
    height: 25px;
}

.selectedMaybe {
    --background: orange;
    width: 54px;
    height: 25px;
}

.notSelected {
    --background: rgb(197, 195, 195);
    width: 54px;
    height: 25px;
}

.scoreRow {
    border-top: 1px solid rgb(197, 195, 195);
}

.locationRow {
    border-top: 1px solid rgb(197, 195, 195);
}