.matchDayCol {
    position: relative;
    z-index: -2;
    /* width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    border-radius: 50%; */

}

.eventType {
    width:100%;
    display:flex;
    align-items:center;
    justify-content:end;
    font-size: small;
}

.titleText {
    font-weight: bolder;
    margin-left: 4%;
    color: black;
}

.eventText {
    margin-left: 4%;
    margin-right: 4%;
    font-style: italic;
}

.locationText {
    font-size: small;
    color: blue;
    white-space: nowrap;
}

.iconText {
    margin-right: 4%;
    margin-bottom: -1.4px;
}

.monthText {
    font-weight: bolder;
    color: lightslategrey;
}

.dateText {
    font-weight: bolder;
    color: blue;
}

.timeStarts {
    color: #383a3e;
}
.time {
    font-style: italic;
}
.eventTitle {
    font-weight: bolder;
}
.matchDay {
    font-weight: bolder;
    font-size: large;
    color: rgb(2, 2, 153);
    
   
}

.matchDayIcon {
    
}

.entryCard {
    margin-top: 7px;
    margin-bottom: 7px;
    border-left: 5px solid #44e283
}

.entryCardMatch {
    margin-top: 7px;
    margin-bottom: 7px;
    border-left: 5px solid #e04055
}

.dateCol {
    border-right: 2px solid grey;
    padding-left: 0%;
    padding-right: 8px;
}