.descriptionMessages {
    color: darkgray;
    margin-left: -.6vh;
}
.chatItem {
    width: 100%;
}
.avatar {
    margin-right: 0;
}
.mainMessageRow {
    margin-left: -2vh;
}
.messageTitleRow {
    width: 100%;
    justify-content: space-between;
    color: darkgray;
}
.avatarImg {
    height: 3.5vh;
    width: 3.5vh;
    margin-top: 1.25vh;
}
.posted {
    display: flex;
    align-items: flex-end;
    justify-content: end;
}