.chatAreaContainer {
    width: 100%;
}

.chatTextField {
   margin-top: 5px;
}

.buttonCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.chatAreaButton {
    justify-content: center;
    align-items: center;
    margin-right: -2.5vh;
    --border-radius: 20%;
}

.iconsColumn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linkIcon {
    transform: rotate(40deg);
}

.smilyIcon {
    color: rgb(243, 239, 17);
}